.teacher-theme {
  background: #f8f9fc;
}

.teacher-header {
  background: linear-gradient(135deg, #070808, #1e1e1f);
  padding: 15px 20px;
  border-radius: 12px;
  color: white;
}

.teacher-header h3 {
  margin: 0;
}