.admin-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f4f7fb;
}

.admin-main {
  flex: 1;
  padding: 18px 0;
  padding-bottom: 70px; /* footer height space */
}


/* prevent navbar overlap */
.admin-main {
  margin-top: 0px;
}
