.myProfileBtn {
  text-decoration: none;
  border: 2px solid #111;
  color: #111;
  padding: 10px 18px;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.3s ease;
  display: inline-block;
}

.myProfileBtn:hover {
  background: #111;
  color: white;
}
.dash-card {
  width: 100%;
  background: white;
  padding: 18px;
  border-radius: 14px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);

  display: flex;
  gap: 18px;
  align-items: flex-start;
}

/* LEFT IMAGE */
.dash-left {
  flex: 0 0 80px;
  display: flex;
  justify-content: center;
}

.dash-img {
  width: 125px;
  height: 125px;
  border-radius: 12px;
  object-fit: cover;
  border: 2px solid #111;
}

/* RIGHT SIDE */
.dash-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
