.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* position:fixed; */
}

.content {
  flex: 1;          
}

.footer {
  
  color: white;
  padding: 10px;
  text-align: center;
}
